In [1]:
import pandas as pd
from pathlib import Path
file_path = Path("Resources/Tickers .csv")
Tickers_df = pd.read_csv(file_path)
Tickers_df.head()

      Group 1    Group 2        Group 3
0  Feb 19 -28  Mar 15-23  Mar 24 - Apr 3
1         GME       TSLA            TSLA
2        TSLA       AAPL            AAPL
3        AAPL         FB             GME
4        PLTR       UPST            VIAC